fastapi
uvicorn
python-multipart
pandas
matplotlib
streamlit
requests
langchain-core
langchain-community
langchain-ollama
huggingface-hub
sentence-transformers
faiss-cpu
seaborn
plotly
pydantic
numpy 